<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858233241098-t4uthjlnmlksr8ejltk3f610t9kimdol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858233241098-t4uthjlnmlksr8ejltk3f610t9kimdol</string>
	<key>API_KEY</key>
	<string>AIzaSyD4ETgRexkKEZiwsb13CsMTacixXdW6KPA</string>
	<key>GCM_SENDER_ID</key>
	<string>858233241098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Matt-S.Firebase-PhotoApp-UIKIT</string>
	<key>PROJECT_ID</key>
	<string>photos-app-ff2ec</string>
	<key>STORAGE_BUCKET</key>
	<string>photos-app-ff2ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858233241098:ios:f728ff430de2e2e803a9f3</string>
</dict>
</plist>